In this notebook, we are tying to cleanup the Los Angeles neighborhood boundary data to the five neighborhoods that we want: Westlake, Koreatown,Pico Union, Echo Park, Silver Lake
We hope to use this map to overlay with the other cleaned up dataset.

In [2]:
import json
import pandas as pd
import geopandas as gpd

In [3]:
nb = gpd.read_file('/Users/pearlliu100/Documents/GitHub/UDS-Project--Full-Team-/Data/LA_Times_Neighborhood_Boundaries (1)-Copy1.geojson')
nb.head()

,OBJECTID,name,geometry
0,1,Adams-Normandie,"POLYGON ((-118.30069 34.03731, -118.30388 34.0..."
1,2,Arleta,"POLYGON ((-118.44255 34.26412, -118.44240 34.2..."
2,3,Arlington Heights,"POLYGON ((-118.31862 34.05306, -118.31673 34.0..."
3,4,Atwater Village,"MULTIPOLYGON (((-118.27886 34.15321, -118.2788..."
4,5,Baldwin Hills/Crenshaw,"POLYGON ((-118.36102 34.02532, -118.36026 34.0..."

In [4]:
#subset to the neighborhoods we wan
wl=nb[nb['name']=='Westlake']
kt=nb[nb['name']=='Koreatown']
pu=nb[nb['name']=='Pico-Union']
sl=nb[nb['name']=='Silver Lake']
ep=nb[nb['name']=='Echo Park']

In [5]:
#create a geodataframe with only the five neighborhoods
join1 = pd.concat([wl, kt], axis=0).reset_index(drop=True)
join2= pd.concat([join1, pu], axis=0).reset_index(drop=True)
join3= pd.concat([join2, sl], axis=0).reset_index(drop=True)
neighborhood_keep= pd.concat([join3, ep], axis=0).reset_index(drop=True)
neighborhood_keep

   OBJECTID         name                                           geometry
0       107     Westlake  POLYGON ((-118.25908 34.05389, -118.25984 34.0...
1        53    Koreatown  POLYGON ((-118.28785 34.06182, -118.28783 34.0...
2        74   Pico-Union  POLYGON ((-118.28146 34.05250, -118.28094 34.0...
3        85  Silver Lake  POLYGON ((-118.26484 34.11282, -118.26354 34.1...
4        27    Echo Park  POLYGON ((-118.24487 34.09569, -118.24454 34.0...

In [6]:
neighborhood_keep.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OBJECTID  5 non-null      int64
 1   name      5 non-null      object
 2   geometry  5 non-null      geometry
dtypes: geometry(1), int64(1), object(1)
memory usage: 248.0+ bytes

In [7]:
#save the dataframe to github as "five_neighborhood.geojson"
neighborhood_keep.to_file('five_neighborhood.geojson', driver='GeoJSON')

/Users/pearlliu100/opt/anaconda3/envs/uds/lib/python3.8/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,